<section>
    <div class="banner-img-5">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bannertit titleone text-center">METAL ROOFING SYSTEM TYPES</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container sec-t sec-b">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-capitalize change-text-tit">Asphalt shingles are categorized as either organic-based or fiberglass-based.</h2>
                <p><strong>Standing Seam</strong> metal roofing systems are consistently chosen as the roof material for projects with roof slopes of 1/2:12 or greater. There are several forms and styles of metal roofing; the most common are the vertical standing seam roof design.</p>
                <p>Standing Seam Metal Roof Panel Systems have proven to be an extremely effective and long lasting material choice when installed properly. Continuous panels run from the ridge of the roof all the way down to the eaves. Between the panels are seams connected by fasteners, which are raised above the level of the metal roofing. This is where we get the term standing seam, because the seam is raised or standing, as opposed to flush-mounted.</p>
                <ul class="text-left">
                    <li><strong>Seam Fasteners:</strong> These seam fasteners might be anywhere from 0.5″ to 1.5″ high. Because these fasteners are concealed, you only see a smooth continuous ridge extending from top to bottom.</li>
                    <li><strong>Pre-Formed vs. Site-Formed:</strong> Roof panels can come either pre-formed or site-formed. Pre-formed panels are created in an off-site factory. Site-formed panels are created from rolls of metal that are run through mobile forming machines which crimp the metal into rigid panels.</li>
                    <li><strong>Composition and Width of Panels:</strong> 12 to 19 inches wide, panels are usually made either of Galvalume-coated steel or aluminum.</li>
                </ul>
                <p>Standing seam metal roofs boast a number of advantages that make them the fastest growing metal roofing choice among homeowners. They offer great curb appeal, durability, longevity, impervious to moisture, environmentally friendly and solar PV ready.</p>
                <p><strong>Metal Roof Shingles</strong> are lightweight and resistant to fire, decay, insects and can be very energy efficient. They have excellent durability, withstand high winds and can be reflective of solar radiation. Metal roofs are typically guaranteed to reach their warranties in full force and can outlast asphalt shingle roofs by double.</p>
                <p><strong>Metal Tile Roofing Systems</strong> are quickly becoming a desirable alternative to traditional composite shingles. It has some distinct advantages over conventional roofing systems and is available in several styles and designer colors. Metal roofing is stronger and more durable than asphalt shingle roofing. Many manufacturers offer outstanding warranties and the metal tile roof can last twice as long as most conventional roofing systems. Because of its durability, metal roofing has long been the choice of school, government, and industrial buildings. Overall, this type of roofing material has advantages in light weight, longevity, durability, energy efficiency and in being environmentally friendly.</p>
                <ul class="text-left">
                    <li>6-inch K-style seamless aluminum; approximately 40 colors to choose from</li>
                    <li>6-inch half-round seamless aluminum; approximately 40 colors to choose from</li>
                    <li>6-inch seamless copper in K-style and half-round</li>
                    <li>6-inch galvanized in K-style</li>
                    <li>Patina finishes available in copper or galvanized products</li>
                </ul>
            </div>
        </div>
    </div>
</section>