<section>
    <div class="banner-img-3">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bannertit titleone text-center">CONCRETE TILES</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container sec-t sec-b">
        <div class="row">
            <div class="col-sm-12 text-center">
                    <p><strong>Concrete tile</strong> is available in several different shapes, designs, colors and can last the lifetime of your home. They are fire resistant and stand up to high winds and hail storms. Not limited to Sunbelt construction, concrete tiles can be used in cold climates provided proper installation procedures are followed. Modern concrete tile designs can simulate the appearance of traditional clay tiles, wood shake, slate and stone. The surfaces can be textured or smooth with edges that can be uniform or ragged and architects may select tiles of all one color, blended colors, or combinations of two or more shades placed in uniform or random patterns.</p>
            </div>
        </div>
    </div>
</section>