<section>
    <div class="banner-img-6">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bannertit titleone text-center">COMMERCIAL RAIN GUTTERS AND COLLECTORS</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container sec-t sec-b">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p><strong>Commercial gutters</strong> are shop fabricated to any size required for the job. The Original Roofing Company also has a complete metal shop capable of designing any size gutter. Collection boxes are often used as a catch basin for water filtrating off of flat roofs. Collection boxes can be shop fabricated in any size or shape.</p>
                <h2 class="text-capitalize change-text-tit">Available products include:</h2>
                <ul class="text-left">
                    <li>Galvanized gutters and collection boxes in any gauge thickness</li>
                    <li>Copper gutters and collection boxes</li>
                    <li>Patina finishes available for copper or galvanized products</li>
                </ul>
                <p>Decorative styles and details available in collection boxes</p>
            </div>
        </div>
    </div>
</section>