<section  id="home">
    <div class="container w-100">
        <div class="row">
        <div class="col-sm-12 text-center">
            <div class="container branch-address">
                <div class="vol-icon">
                    <button (click)="toggleMute($event)" id="mute-icon" class="mute-icon">
                        <img src="assets/Images/mute-icon.png" width="32">
                    </button>
                </div>
            </div>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading" class="titleone">Roofing &amp; <br>Insurance claims specialists  </h1>
                    <hr>
                </div>
                <div class="home-scroll">
                    <a class="page-scroll js-scroll-trigger" href="#about">
                        <span class="cus-chevron-down">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </span>
                    </a>
                    <p>SCROLL FOR MORE DETAILS</p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="layerbg"></div>
    <video id="my-video" autoplay="" muted="" loop="" class="bgvideo">
        <source src="assets/video/RoofingBack.mp4" type="video/mp4">
    </video>
</section>