<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center text-white">
                <ul class="nav footer-nav justify-content-center">
                    <li class="nav-item" *ngFor="let social of icons">
                        <a class="nav-link">
                            <picture>
                                <source srcset="{{social.iconsimg}}" type="image/webp">
                                <source srcset="{{social.iconsimg}}" type="image/jpeg"> 
                                <img src="{{social.iconsimg}}" alt="{{social.iconalt}}">
                            </picture>
                        </a>
                    </li>
                </ul>
                <p>Copyright 2020. Singh Contracting, All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>