<section id="about">
    <div class="container sec-t sec-b">
        <div class="row">
        <div class="col-sm-12 text-center text-white">
            <h2 class="titleone">{{abtit}}</h2>
            <hr class="light">
            <p><strong>Singh Contracting Group</strong> strives to be the best and most reliable contractor available by providing top quality work and using the best quality materials including the latest, industry leading technologies. We’ve installed thousands of roofs, gutters and siding systems on commercial and residential buildings throughout Arizona, New Mexico, Colorado, Kansas, Montana, North Dakota and beyond. Our commitment to quality is second to none, and our customer service is unparalleled. We strive to maintain our focus on innovation, experience, attention to detail and the latest technologies, helping us stay ahead of our competitors.</p>
        </div>
        <div class="certification col-lg-12 col-md-12 d-flex justify-content-center">
            <div class="cert-text col-lg-8 col-md-8 col-sm-12 col-xs-12 d-flex justify-content-center"> 
                <div class="col-lg-4 col-sm-4 col-xs-12"><img src="assets/Images/platinum-logo.png" class="img-fluid" alt="platinum logo"></div>
                <div class="col-sm-8 col-sm-8 col-xs-12"><p>Owens Corning Platinum Preferred Contractor specializing in Roof, Siding, Gutters and more.</p></div> 
            </div>
        </div>
        <div class="col-sm-12 pl-0 pr-0">
            <tabset class="abut-tab">
                <tab heading="ROOFING" class="" (selectTab)="onSelect($event)">
                    <div class="col-sm-6 col-xs-6 pl-0 pr-0 float-left hide-lep">
                        <img src="assets/Images/Roofing.jpeg" alt="roof image" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 pl-0 pr-0 float-right text-white tabs-pad">
                        <h3>The Roofing Specialists</h3>
                        <p>There are many kinds of roofing systems available and Singh Contracting Group installs all types. Our crews are specialized in these specific types of roofs, ensuring that your roof is built with knowledge and care. With over 10yrs of experience in the roofing industry, you have the piece of mind of knowing that you will be working with skilled craftsmen who have mastered every aspect of your roofing needs.</p>
                    </div>
                </tab>
                <tab heading="INSURANCE CLAIMS" class="" (selectTab)="onSelect($event)">
                    <div class="col-lg-6 col-sm-12 col-xs-12 pl-0 pr-0 float-left text-white tabs-pad text-right">
                        <h3>Insurance Claims Specialist</h3>
                        <p>For over a decade we have helped thousands of homeowners settle claims to ensure that any and all damaged property is properly covered and compensated by their insurance provider. We will meet with your insurance adjuster to closely examine your entire property ensuring that all damaged property is fully assessed so we can return the original safety and beauty of your property back to you. We have helped thousands of customers get their damages covered after they were either denied or not properly assessed by their insurance providers. You can trust that our trained professionals have the best training in the industry to help exceed your expectations. Our company prides itself on doing all of this, and doing it in a timely, professional manner.</p>
                    </div>
                    <div class="col-sm-6 col-xs-6 pl-0 pr-0 float-right hide-lep"><img src="assets/Images/insurance-tab.png" alt="roof image" class="img-fluid"></div>
                </tab>
            </tabset>
        </div>
        </div>
    </div>
</section>