<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top" [class.affix]="change_efect" id="mainNav">
            <div class="container pl-0 pr-0">
                <a class="navbar-brand" href="#home"><img src="assets/Images/Singh_Contracting_Logo.png"></a>
                <!-- <div class="city-dropdown">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Select a location<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="location">
                      <li data-label="Singh Roofing" class="logoa arizona"><a href="#contact">Arizona</a></li>
                      <li data-label="Singh Contracting Group" class="logob newmexico"><a href="#contact">New Mexico</a></li>
                      <li data-label="Singh Contracting Group" class="logob colorado"><a href="#contact">Colorado</a></li>
                      <li data-label="Singh Contracting Group" class="logob kansas"><a href="#contact">Kansas</a></li>
                      <li data-label="Singh Contracting Group" class="logob wyoming"><a href="#contact">Wyoming</a></li>
                  </ul>
                </div>  -->
              
              <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
                <ul class="navbar-nav" *ngFor="let navmenu of navigation">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-uppercase" href="#{{navmenu.menulink}}">{{navmenu.menuname}}</a>
                    </li>
                </ul>
              </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
              </button>
          </nav> 
      </div>
    </div>
  </div>
</header> 