<section>
    <div class="banner-img-1">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bannertit titleone text-center">asphalt-shingles</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container sec-t sec-b">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p><strong>Fiberglass-based asphalt shingles</strong> are manufactured with the mat composed entirely of glass fibers varying in lengths and orientations. This fiberglass base is then surfaced with a specially-formulated asphalt coating, followed by weather-resistant mineral granules. Some of the advantages of asphalt shingles are product performance, affordability, low maintenance, ease of application, and resistance to fire and wind.</p>
                <p>There are different styles of asphalt shingles but the most prominent are 3-Tab shingles and Dimensional shingles. 3-Tab shingles contain a core made of felt and other organic materials, are especially durable in colder climates, and are heavier than their fiberglass counterpart. Dimensional shingles contain a fiberglass mat as the base material. The fiberglass core also provides these shingles with the highest available fire rating, and reduces their weight. The lightness of the fiberglass shingles allows for an easier and less expensive installation.</p>
                <p>Singh Contracting installs steep slope tile roofing systems from quality manufacturers such as Eagle and Boral. There are several types of tile roof systems from which to choose. Tile roofs are cost-effective, durable, aesthetically pleasing and add curb appeal and value to any structure. Today’s most popular tile roofing is made from either concrete or clay and provides some great advantages such as longevity, style, safety and environmental resistance.</p>
            </div>
        </div>
    </div>
</section>