<section>
    <div class="banner-img-2">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="bannertit titleone text-center">CLAY TILES</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container sec-t sec-b">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p><strong>Clay roofing tile</strong> is a great choice for homes with a southwestern, Italian, Spanish Mission design or any modern, clean look. Tile is so durable that its expected life span is greater than the lifespan of the material on which the roofing rests. Tile won’t rot or burn and it can’t be harmed by insects. It requires little maintenance, and it comes in a variety of colors, types, styles and brands.</p>
            </div>
        </div>
    </div>
</section>